.container {
  width: 100%;
  color: #4a90e2;
  font-size: 18px;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: 0px auto;
}

.navContainer ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.navContainer li {
  list-style-type: none;
  padding: 0 10px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  color: #1877E6;
}
